<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Network | SignUp</title>
	<link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>

	<div class="fullBox">
		<h1>Create account</h1>
		<p id="message"></p>
		<form id="form">
			<div>
				<input type="text" id="username" placeholder="Username" autocomplete="username" />
			</div>
			<div>
				<input type="text" id="first_name" placeholder="Firstname" autocomplete="off" />
			</div>
			<div>
				<input type="text" id="last_name" placeholder="Lastname" autocomplete="off" />
			</div>
			<div>
				<input type="password" id="password" placeholder="Password" autocomplete="current-password" />
			</div>
			<div>
				<button>Create account.</button>
			</div>
		</form>
		<a href="/login">Login</a>
	</div>

<script src="./signup.js"></script>
</body>
</html>
